{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Safar Admin Panel</title>
</head>
<body>
    
    <div class="container">  
          
          <form method="POST" class="container" id="contact">
            <h3>Create Coupon</h3>
            <br>
            {% csrf_token %}
            <fieldset>
                {{ form.code|attr:"placeholder: Enter Coupon code" }}
            </fieldset>

            <fieldset>
                {{ form.user|add_class:'input'|attr:"placeholder: Enter Discount Amount" }}
            </fieldset>

            <fieldset>
                {{ form.amount|add_class:'input'|attr:"placeholder: Enter Discount Amount" }}
            </fieldset>
            <fieldset>
                {{ form.valid_from|attr:"placeholder: Enter Valid From date" }}
            </fieldset>
            <fieldset>
                {{ form.valid_up_to|attr:"placeholder: Enter Valid up to date" }}
            </fieldset>
        <button type="submit" id="contact-submit">Create</button>
        
            <a href="/coupons" id="backbtn">Back</a>
        
        </form>
        
        

        
      </div>

</body>
</html>